.form-todo {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 70%;
    margin: 0 auto;
}

.input-newtodo {
    border: 1px solid #B2B2B2;
    border-radius: 4px;
    padding: 10px;
    width: 75%;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 25%;
}

.btn-primary {
    background-color: #458EF7;
    color: white;
}

.btn-primary:hover {
    background-color: #3672CB;
    cursor: pointer;
}